<html>
<head>
    <meta charset="UTF-8">
    <title>桃浦游泳馆摄像头显示</title>


</head>

<body>
{#    <h1>桃浦游泳馆摄像头视频流显示</h1>#}

    <img src="http://192.168.2.131:8009/camera/video_feed1" height="377px" width="927px">
{##}
    <img src="http://192.168.2.131:8009/camera/video_feed2" height="377px" width="927px">
    <br>
    <img src="http://192.168.2.131:8009/camera/video_feed3" height="377px" width="927px">
    <img src="http://192.168.2.131:8009/camera/video_feed4" height="377px" width="927px">




{##}
{#    <div class="container">#}
{#        <marquee ><span style="font-weight: bolder;font-size: 40px" id="abc"></span></marquee>#}
{#    </div>#}

